# Ignore virtual environments
venv/
venv_local/
.env/
.envrc
*.pyc
__pycache__/

# Ignore large files and compiled libraries
*.dylib
*.so
*.dll
*.exe
*.bin
*.log

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore uploaded files (but keep dummy samples)
static/uploads/*
!static/uploads/.gitkeep
!static/dummy/
